---
import { site } from '@repo/data/siteData';
const { title, summary, canonicalURL, socialImage } = Astro.props;
---

<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
<link rel="shortcut icon" href="/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="set.studio" />

<title>
  {title}
</title>

<link rel="canonical" href={canonicalURL} />
<meta property="og:site_name" content={site.title} />
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta name="twitter:card" content="summary_large_image" />

{
  socialImage && (
    <>
      <meta property="og:image" content={socialImage} />
      <meta name="twitter:image" content={socialImage} />
    </>
  )
}

<meta property="og:image:alt" content={`Page image for ${title}`} />
<meta name="twitter:image:alt" content={`Page image for ${title}`} />

{
  summary && (
    <>
      <meta name="description" content={summary} />
      <meta name="twitter:description" content={summary} />
      <meta property="og:description" content={summary} />
    </>
  )
}
